@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css";

body {
	background: #f9f3f3;
}

.box {
	width: 200px;
	height: 200px;
	margin: 5px;
	background: #888;
	float: left;
	background-repeat: no-repeat !important;
    background-position: center !important;
}

.box:hover {
	background-color: #e6d1e7 !important;
	cursor: pointer;
}

.box.large {
	background-color: #e6d1e7 !important;
	z-index: 2;
}

.modal-footer {
    border-top: 0;
}
#container, #container2, #container3, #container4 {
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.masonry-section {
	text-align-last: center;
}

.h2_box {
	margin-bottom: -30px;
	text-align-last: center;
	font-size : 80px;
}

.fx_cn {
	display: flex; 
	align-content: center; 
	justify-content: center;
}

.reloads {
	font-size: 24px;
    margin-left: 15px;
	display: flex; 
	align-items: center;
	cursor: pointer;
}

.boxing {
	display : block;
}
.grid {
	margin: 0 auto;
}

.stamp1 {
	width: 100%;
}

.modal-dialog {
	width: 100%;
}

.col-12 {
	display: flex;
	justify-content: center;
}

.bingos {
	cursor: pointer;
}

.col-2 {
	padding: 3px;
}

.bingos_cls {
    background-color: #e6d1e7 !important;
    padding: 3px;
	cursor: pointer;
}

/* mbti 별 이미지  */
#istj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ISTJ.jpg");
}
#istp {
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ISTP.jpg"); 
}
#isfj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ISFJ.jpg");
}
#isfp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ISFP.jpg");
}
#intj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/INTJ.jpg");
}
#intp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/INTP.jpg");
}
#infj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/INFJ.jpg");
}
#infp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/INFP.jpg");
}
#istp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ISTP.jpg");
}
#estj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ESTJ.jpg");
}
#estp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ESTP.jpg");
}
#esfj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ESFJ.jpg");
}
#esfp {
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ESFP.jpg"); 
}
#entj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ENTJ.jpg");
}
#entp { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ENTP.jpg");
}
#enfj { 
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ENFJ.jpg");
}
#enfp {
	background: url("https://dbtkdok.github.io/mbti_nyang/img/ENFP.jpg"); 
}
